*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'open sans';
}
.contenedor{
    padding: 30px 0;
    width: 90%;
    max-width: 3000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: lightskyblue;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/*herader*/

header{
    width: 100%;
    height: 600px;
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(227, 97%, 24%, 0.247), hsla(210, 96%, 46%, 0.26)), url(../img/fondo7.jpg);
    background: linear-gradient(to right, hsla(227, 97%, 24%, 0.247), hsla(210, 96%, 46%, 0.26)), url(../img/fondo7.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative; 
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 30px;
}    

header .textos-header{
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 50px;
    color: #fff;
}
.textos-header h2{
    font-size: 30px;
    font-weight: 100;
    color: #fff;
}


nav > a:hover{
        text-decoration: underline;       
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* about-us*/

.contenedor-sobre-pesca{
    display: flex;
justify-content: space-evenly;
}
.imagen-about-usa{
    width: 40%;
}
.contenedor-sobre-pesca .contenido-textos{
    width: 40%;
    font-size: 10px;
}
.contenido-textos h3{
    margin-bottom: 1px;
    font-size: 25px;
}
.contenedor-sobre-pesca h3 span{
background: #0575E6;
color: #fff;
border-radius: 50%;
display: inline-block;
text-align: center;
width: 40px;
height: 40px;
padding: 2px;
box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
padding: 2px;
margin-right: 8px;
}
.contenido-textos p{
    padding: 20px 0px 30px 20px;
    font-weight: 300;
    text-align: justify;
}


/*  portafolio */

.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port{
    width: 20%;
    margin-bottom: 20px;
overflow: hidden;
height: 200px;
position: relative;
cursor: pointer;
box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block ;
}




.cards {
    display: flex;
    justify-content: space-evenly;

}
.cards .card{
    background: #0575E6;
    display: flex;
    width: 150%;
    height: 160px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .6);

}
.cards .card img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 5px soli #0575E6;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #f2f2f2;
}
.cards .card >.contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;

}


.about-services{
    background: #fff;
    padding-bottom: 30px;

}
.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicio.ind{
    width: 28%;
    text-align: center;
}

.servicio.int img{
    width: 100%;
}
.servicio.ind h3{
    margin: 50px 30px;
}
.servicio.ind p{
    font-weight: 50;
    text-align: justify;
}

footer{
    background: #414141;
padding: 60px 0 30px 0;
margin: auto;
overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;

}
.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #0575E6;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}
.titulo-final{
text-align: center;
font-size: 24px;
margin: 20px 0 0 0;
color: #9e9797;
}
